body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #14141b;
    color: white;
}
 
.main-container {
    height: 100%;
}
.topnav {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
    border-radius: 18px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(244, 244, 248, 0.05), rgba(0, 0, 0, 0.1));
    backdrop-filter: blur(2px);
    position: sticky;
    top: 5px;
    z-index: 100;
}
.topnav-right {
    float: right;
    margin-right: 5px;
}
.topnav a {
    float: left;
    margin-left: 5px;
    color: #f2f2f2;
    text-align: center;
    font-size: 17px;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.3s;
}
  
.topnav a:hover {
    text-shadow: 0px 0px 5px white;
    transition-timing-function: ease-in-out;
}
  
.topnav a.active {
    font-weight: bold;
}
.banner {
    padding-top: 12rem;
    padding-left: 16rem;
    padding-right: 16rem;;
}
h1.Title {
    padding-bottom: 10px;
}
h2.header-1 {
    padding-top: 10px;
}
.main {
    padding-left: 16rem;
    padding-right: 16rem;
    padding-bottom: 4rem;
    padding-bottom: 2rem;
    border-top: 1px solid rgba(255,255,255,0.5);
}

/* Set up the grid layout */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 5fr);
    grid-gap: 10px;
    padding-left: 16rem;
    padding-right: 16rem;
}
      
/* Set up the image containers */
.image-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 133.33%; /* 3:4 aspect ratio */
    overflow: hidden;
}
      
/* Style the images */
.image-container img {
    margin-top: 2rem; /* adjust this to add more space for the artist name */
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Style the artist names */
.image-container .artist-name-container {
    padding-left: 5px;
    cursor: pointer;
}
/* NOT USED
.image-info {
    padding-bottom: 2rem;
} */
      
/* Hide all pages except the first one */
.page {
    display: none;
}
.page:first-of-type {
    display: grid;
}


.button-sort {
    padding-left: 16rem;
    padding-bottom: 2rem;
}

/* Style the sorting buttons */
.button-sort button {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background-color: transparent;
    outline: none;
}

  /* Style the active sorting button */
.button-sort button.active {
    background-color: #ddd;
    color: white;
}

  /* Style the sorting buttons on hover */
.button-sort button:hover {
    background-color: #ccc;
}

/* Style the pagination numbers */
.page-navigation {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 8rem;
    color: white;
    text-decoration: none;
}
/* Style the pagination buttons (ellipses only) */
.page-navigation span {
    display: flex;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
    margin: 0 5px;
    border: none;
    width: 40px;
    height: 40px;
    align-items: center;
    color: white;
}
/* Style the pagination buttons (everything else) */
.page-navigation a {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-top: 5;
    margin: 0 5px;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    align-items: center;
}
/* pagination button everything else */
.page-navigation a:hover {
    background-color: #ccc;
    border-radius: 5px;
    align-items: center;
}
/* pagination button everything else */
.page-navigation a.active {
    background-color: #ddd;
    align-items: center;
}
/* current page style */
.page-navigation .current-page {
    background-color: #ddd;
    border-radius: 5px;
    align-items: center;
}
      
/* pagination button ellipses only. NOT CSS NEEDED, THIS IS ALWAYS TO BE INACTIVE */
/*.page-navigation span:hover {
    background-color: #ccc;
} */
/* pagination button ellipses only. NOT CSS NEEDED, THIS IS ALWAYS TO BE INACTIVE */
/*.page-navigation span.active {
    background-color: #ddd;
} */