@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Quicksand&display=swap');
@keyframes appear {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
}
body {
	animation: appear 0.5s;
	background-color: #313138;
	color: white;
    display: flex;
    align-items: center;
}
h1 {
    font-family: 'Quicksand', sans-serif;
	margin-top: 3.5rem;
	margin-bottom: 3rem;
	font-size: 40px;
}
.form-box {
	height: 780px;
	width: 780px;
	position: relative;
    margin: auto;
	padding: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
	border-radius: 30px;
	background-color: #14141B;
	overflow: auto;
}
form {
	font-family: 'DM Sans', sans-serif;
}
.input-title {
	width: 50%;
	padding: 5px 1.5px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #858585;
	outline: none;
	background: transparent;
	transition-duration: 0.6s;
	color: white;
	font-family: 'DM Sans', sans-serif;
}
.input-title:focus {
	border-color: #e9e9e9;
	transition-timing-function: ease-in-out;
}
.input-tags {
	width: 500px;
	margin: 5px 0;
    border-top: none;
    border-left: none;
    border-right: none;
	border-bottom: 1px solid #858585;
    border-radius: 3px;
	padding: 5px 5px;
	background: #8A8A8D;
	color: white;
    outline: none;
	font-family: 'DM Sans', sans-serif;
	transition-duration: 0.3s;
}
.input-tags:focus {
	margin: 5px 0;
    border-top: none;
    border-left: none;
    border-right: none;
	border-bottom: 1px solid #858585;
    border-radius: 3px;
	background: transparent;
	color: white;
    outline: none;
    transition-timing-function: ease-in-out;
}
.input-tags::placeholder {
	color: white;
	opacity: 0.8;
}
input[type="file"] {
	display: none;
}
input {
	font-family: 'DM Sans', sans-serif;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
	margin-bottom: 30px;
	border-radius: 5px;
	transition-duration: 0.3s;
}
.custom-file-upload:hover {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
	margin-bottom: 30px;
	box-shadow: 0 0 15px 0.5px #8A8A8D;
	transition-timing-function: ease-in-out;
}
#output {
	width: 50%;
	height: auto;
}
.upload-btn {
	width: 250px;
	height: 5%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #4F4F54;
	color: white;
	border: 0;
	outline: none;
	border-radius: 30px;
	margin-top: 30.5px;
	transition-duration: .3s;
	font-family: 'DM Sans', sans-serif;
}
.upload-btn:hover {
	width: 250px;
	height: 5%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #E2E2E3;
	border: 0;
	color: #4F4F54;
	outline: none;
	border-radius: 30px;
	margin-top: 30.5px;
	transition-timing-function: ease-in-out;
}
.back-btn {
	width: 250px;
	height: 5%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #4F4F54;
	color: white;
	border: 0;
	outline: none;
	border-radius: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	transition-duration: .3s;
	font-family: 'DM Sans', sans-serif;
}
.back-btn:hover {
	width: 250px;
	height: 5%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #E2E2E3;
	border: 0;
	color: #4F4F54;
	outline: none;
	border-radius: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	transition-timing-function: ease-in-out;
}