 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1976px;
}

.u-section-1 .u-icon-1 {
  width: 323px;
  height: 323px;
  margin: 101px auto 0 409px;
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: 54px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 3rem;
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 19px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 7px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 54px 101px 0;
}

.u-section-1 .u-text-5 {
  margin: 312px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 375px;
  margin-top: 54px;
  margin-bottom: 60px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1910px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 1005px;
    margin-left: 176px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 2321px;
    margin-left: 606px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 403px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -11px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -343px;
    margin-left: 301px;
    margin-right: 301px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 671px;
  }

  .u-section-1 .u-gallery-1 {
    height: 309px;
    margin-top: -11px;
    margin-bottom: 0;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2134px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 1177px;
    margin-right: 311px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 2149px;
    margin-left: 826px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 4267px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -4207px;
    margin-right: 510px;
    margin-left: 630px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 891px;
  }

  .u-section-1 .u-gallery-1 {
    height: 533px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3200px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 1094px;
    margin-right: auto;
    margin-left: 300px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1046px;
    margin-left: 1039px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 4260px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -4200px;
    margin-right: 240px;
    margin-left: 900px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 1096px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1599px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2608px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 975px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 944px;
    margin-left: 1272px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 4276px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -35px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -4216px;
    margin-right: -60px;
    margin-left: 1200px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 320px;
    margin-left: 1308px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1007px;
  }
}