/* (A) GALLERY CONTAINER */
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  max-width: 1200px;
  margin: 0 auto;
}

/* (B) THUMBNAILS & CAPTION */
.gallery figure {
  margin: 0;
  background: transparent;
}
.gallery img {
  width: 100%;
  height: 400px;
  object-fit: cover; /* fill | contain | cover | scale-down */
  cursor: pointer;
}
.gallery figcaption {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  text-align: center;
  color: #fff;
  padding: 5px 10px;
}

/* (C) FULLSCREEN IMAGE */
.gallery img.full {
  position: fixed;
  top: 0; left: 0; z-index: 999;
  width: 100vw; height: 100vh;
  object-fit: contain; /* fill | contain | cover | scale-down */
  background: #101016;
}

/* (D) OPTIONAL ANIMATION */
.gallery { overflow-x: hidden; }
.gallery img { transition: all 0.3s; }
